{# app/Resources/views/respostes/content.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	Answers List
{% endblock %}

{% block body %}
    <h3> Answer List </h3>
<table border="1">
    <tr>
    		<th>ID</th>
    		<th>Answer</th>
    		<th>ID Question</th>
    		<th>Correct?</th>
    </tr>
    {% for a in answers %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.textResposta }}</td>
            <td>{{ a.idPregunta.id }}</td>
            <td>{{ a.correcta }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
