<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script
        		src="https://code.jquery.com/jquery-3.2.1.js"
  				integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  				crossorigin="anonymous"></script>
  			<style>
  				.link{
  					cursor: pointer;
  				}
  				.hidden{
  					display: none;
  				}
  			</style>
    </head>
    <body>
    		<h1>
    			
    		</h1>
    		
    		<a href="/llistarPreguntes">Llistar totes les preguntes</a>
    		<a href="/llistarRespostes">Llistar totes les respostes</a>
    		<br>
    		<a href="/inserir">Inserir pregunta</a>		
    		<a href="/preguntar">Consumir pregunta</a>
			<br><br>
    		<a href="/esborrar" onclick="return confirm('Segur que vols esborrar totes les entrades del registre?'">Esborrar totes les preguntes</a>
    		    		
    		{% block body %}{% endblock %}
    		{% block javascripts %}{% endblock %}
    		
    		<script>
    			// Al fer click al dao es calcula un nombre entre nPreguntes 
    			// i serà la posició de la pregunta que agafarem de totes elles
				$('.link').on('click', function(){
					nPreguntes = $("#numPreguntesDisponibles").val();
					rand = Math.floor(Math.random() * nPreguntes) + 1;
					$("#posicioPregunta").val(rand);
					alert("Demanem la pregunta número → [" + rand + "]");
					$("#consumirPreguntaForm").submit();
				});
				
				$('#comprovaResposta').on('click', function () {
					console.log("comprovacions");
										
					correcte = parseInt( $("#spanRespostaCorrecta").attr("value") );					
					respostaIndicada = parseInt( $('input[name=correct]:checked', '#preguntaAction').val() );
					
					console.log("Correcte: " + correcte);
					console.log("Indicada: " + respostaIndicada);
					
					if (correcte == respostaIndicada)
						alert("Correcte!");
					else
						alert("Incorrecte!");
						
				});
				
				$("#toggleViewSolution").on('click', function () {
					$("#spanRespostaCorrecta").toggleClass("hidden");
				});
    		</script>
    </body>
</html>
	
	