{# app/Resources/views/preguntes/content.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	Questions List
{% endblock %}

{% block body %}
    <h3> Questions List </h3>
<table border="1">
    <tr>
    		<th>ID</th>
        <th>Question</th>
    </tr>
    {% for q in questions %}
        <tr>
            <td>{{ q.id }}</td>
            <td>{{ q.textPregunta }}</td>            
        </tr>
    {% endfor %}
</table>
{% endblock %}
